services:
  mysql-db:
    image: mysql:9.6.0
    container_name: mysql_server
    restart: always
    environment:
      # 請修改下方的密碼
      MYSQL_ROOT_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      # 映射你的本地資料夾到容器
      - ./data:/var/lib/mysql
      - ./config:/etc/mysql/conf.d
      - ./init:/docker-entrypoint-initdb.d
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --default-time-zone=+08:00
    networks:
      - mysql_network

networks:
  mysql_network:
    driver: bridge
